force-app/main/default/flows/ApplicationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Domestic</name>
        <choiceText>Domestic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Domestic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friends</name>
        <choiceText>Friends</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friends</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_School</name>
        <choiceText>High School</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High School</stringValue>
        </value>
    </choices>
    <choices>
        <name>International</name>
        <choiceText>International</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International</stringValue>
        </value>
    </choices>
    <choices>
        <name>Malaysia</name>
        <choiceText>Malaysia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Malaysia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Malaysian</name>
        <choiceText>Malaysian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Malaysian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_to_Disclose</name>
        <choiceText>Not to Disclose</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not to Disclose</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_U</name>
        <choiceText>Pre U</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre U</stringValue>
        </value>
    </choices>
    <choices>
        <name>Primary_School</name>
        <choiceText>Primary School</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary School</stringValue>
        </value>
    </choices>
    <choices>
        <name>Singaporean</name>
        <choiceText>Singaporean</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Singaporean</stringValue>
        </value>
    </choices>
    <choices>
        <name>Social_Media</name>
        <choiceText>Social Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telemarketing</name>
        <choiceText>Telemarketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telemarketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CreateDecision</name>
        <label>CreateDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IntCreateApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>International</defaultConnectorLabel>
        <rules>
            <name>DOM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Nationality</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Domestic</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nationality</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Malaysian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateApp</targetReference>
            </connector>
            <label>DOM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ApplicationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApplicationFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>Nationality</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateApp</name>
        <label>CreateApp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Domestic_Choice</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <stringValue>Drafted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_Name__c</field>
            <value>
                <elementReference>High_School_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Highest_Education_Level__c</field>
            <value>
                <elementReference>Highest_Education_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>How_do_you_know_about_us</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>IntCreateApp</name>
        <label>IntCreateApp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>International_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <stringValue>Drafted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_Name__c</field>
            <value>
                <elementReference>High_School_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Highest_Education_Level__c</field>
            <value>
                <elementReference>Highest_Education_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>How_do_you_know_about_us</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Domestic_Choice</name>
        <label>Domestic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Third_Screen</targetReference>
        </connector>
        <fields>
            <name>Headline</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Undergraduate Requirement Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Domestic&lt;/p&gt;&lt;ul&gt;&lt;li&gt;High_School_Graduation_Certificate&lt;/li&gt;&lt;li&gt;Transcript&lt;/li&gt;&lt;li&gt;ID&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>File_Upload_Dom_HighSchoolCert</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload High School Graduation Certificate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CreateApp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>File_Upload_Dom_Transcript</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Transcript</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CreateApp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>File_Upload_Dom_ID</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload ID</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CreateApp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>First_Screen</name>
        <label>1st Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <fields>
            <name>FormName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;RIO University Undergraduate Program Application Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Name.firstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Name.lastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>informalName</name>
                <value>
                    <elementReference>Name.firstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleName</name>
                <value>
                    <elementReference>Name.middleName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>Name.salutationOptions</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Birthday</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <choiceReferences>Not_to_Disclose</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>--None--</stringValue>
            </defaultValue>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Nationality</name>
            <choiceReferences>Malaysian</choiceReferences>
            <choiceReferences>International</choiceReferences>
            <choiceReferences>Singaporean</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>--None--</stringValue>
            </defaultValue>
            <fieldText>Nationality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>High_School_Name</name>
            <dataType>String</dataType>
            <fieldText>High School Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Highest_Education_Level</name>
            <choiceReferences>High_School</choiceReferences>
            <choiceReferences>Pre_U</choiceReferences>
            <choiceReferences>Primary_School</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>--None--</stringValue>
            </defaultValue>
            <fieldText>Highest Education Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_do_you_know_about_us</name>
            <choiceReferences>Telemarketing</choiceReferences>
            <choiceReferences>Website</choiceReferences>
            <choiceReferences>Friends</choiceReferences>
            <choiceReferences>Social_Media</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>--None--</stringValue>
            </defaultValue>
            <fieldText>How do you know about us</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>International_Decision</name>
        <label>International</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Third_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_Headline</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Undergraduate Requirement Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;International&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Passport&lt;/li&gt;&lt;li&gt;Transcript&lt;/li&gt;&lt;li&gt;High_School_Graduation_Certificate&lt;/li&gt;&lt;li&gt;IELTS Transcript&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>File_Upload_Int_Passport</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Passport</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IntCreateApp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>File_Upload_Int_Transcript</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Transcript</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IntCreateApp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>File_Upload_Int_HighSchoolCert</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload High School Graduation Certificate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IntCreateApp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>File_Upload_Int_IELTS</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload IELTS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IntCreateApp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Third_Screen</name>
        <label>3rd Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Tymessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: Muli, sans-serif; color: rgb(116, 116, 116);&quot;&gt;Thank you. You will be updated through email regarding the application progress.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>High_School_Grad_Cert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Requirements__c</objectType>
    </variables>
</Flow>
