force-app/main/default/flows/Practice6.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>DomAssignment</name>
        <label>DomAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DomAppReq.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DomAppReq.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DomList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DomList</name>
        <label>DomList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DomAppReqList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DomAppReq</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IntAssignment</name>
        <label>IntAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IntAppReq.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IntLoop.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntAppReq.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IntList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IntList</name>
        <label>IntList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IntAppReqList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IntAppReq</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IntLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetIntMdt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NonDomestic</defaultConnectorLabel>
        <rules>
            <name>Domestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_1</targetReference>
            </connector>
            <label>Domestic</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Practice6 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecTriggerFlow</label>
    <loops>
        <name>IntLoop</name>
        <label>IntLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetIntMdt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IntAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateFinalInt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>DomLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DomAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateFinalDom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateFinalDom</name>
        <label>CreateFinalDom</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>DomAppReqList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateFinalInt</name>
        <label>CreateFinalInt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>IntAppReqList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>GetDomMdt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Requirement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Requirement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIntMdt</name>
        <label>GetIntMdt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IntLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Requirement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>International</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Requirement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DomAppReq</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Requirements__c</objectType>
    </variables>
    <variables>
        <name>DomAppReqList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Requirements__c</objectType>
    </variables>
    <variables>
        <name>IntAppReq</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Requirements__c</objectType>
    </variables>
    <variables>
        <name>IntAppReqList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Requirements__c</objectType>
    </variables>
</Flow>
